/* hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.\!scrollbar-hide {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.\!scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.h-full-x {
  height: 100%;
  height: 100vh;
  height: 100dvh;
}

.\!h-full-x {
  height: 100%;
  height: 100vh;
  height: 100dvh;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--muted-foreground)) hsl(var(--muted));
}

.\!scrollbar-thin {
  scrollbar-width: thin;
}

.table-header-box-shadow {
  box-shadow: inset 0px -1px 0px hsl(var(--border));
}

.border-debug {
  border: 1px solid red;
  animation: border-debug-animation 3s linear infinite;
}
.border-debug-1 {
  border: 1px solid red;
  animation: border-debug-animation 3s linear infinite;
}
.border-debug-2 {
  border: 2px solid red;
  animation: border-debug-animation 3s linear infinite;
}
.border-debug-3 {
  border: 3px solid red;
  animation: border-debug-animation 3s linear infinite;
}
@keyframes border-debug-animation {
  0% {
    border-color: red;
  }
  50% {
    border-color: green;
  }
  100% {
    border-color: blue;
  }
}
